//begin all
section.all
  include ./header
  .container
    h2.all__title Ламікон обирай — скажи грибку «прощавай»!
    .all__pic.all__pic--desc
      img(src="assets/img/all.png" alt="Ламікон")
    .all__pic.all__pic--mob
      img(src="assets/img/all-sm.png" alt="Ламікон")
    .all__link-wrap
      a(href="https://tsinanaliky.com.ua/catalog/47-lamikon-krem" target="_blank" rel="nofollow noopener noreferrer").all__link Шукати препарат
//end all