//begin footer
.footer
  .container
    .footer__contacts
      .footer__contact
        span АТ «Фармак»
        a(href="50.47542455661118, 30.489728598143362" target="_blank" rel="nofollow noopener noreferrer") 04080, вул. Кирилівська, 63, Київ, Україна
      .footer__contact
        span Сайт компанії:
        a(href="https://farmak.ua/" target="_blank" rel="nofollow noopener noreferrer") https://farmak.ua/
      .footer__contact
        span e-mail:
        a(href="mailto:info@farmak.ua") info@farmak.ua
    .footer__socials
      a(href="https://www.instagram.com/farmak_ua/?utm_medium=copy_link" target="_blank" rel="nofollow noopener noreferrer").footer__social.footer__social--inst
        +svg('inst')
      a(href="https://www.facebook.com/farmak.ua/" target="_blank" rel="nofollow noopener noreferrer").footer__social.footer__social--fb
        +svg('fb')
      a(href="https://www.youtube.com/channel/UCoHLwSldywqqWzmrgrs5w_g" target="_blank" rel="nofollow noopener noreferrer").footer__social.footer__social--youtube
        +svg('youtube')
      a(href="https://www.linkedin.com/company/farmak/" target="_blank" rel="nofollow noopener noreferrer").footer__social.footer__social--linkedin
        +svg('linkedin')
//end footer