//begin tab
section.tab.tab--03#tab--03
  include ./header
  .container
    .tab__content
      h2.tab__title Ламікон спрей
      .tab__descr
        p Знищує грибок на шкірі, шкарпетках і взутті та запобігає повторному зараженню!
        p Позбався грибку будь-де та будь-коли завдяки зручній формі! Ідеально підходить як для походу на пляж, так і для профілактичної обробки взуття та шкарпеток. Надійно захистить твоїх близьких від зараження грибком!

      ul.tab__items
        li.tab__item
          .tab__icon
            +svg('icon-07')
          .tab__text Знищує грибок на шкарпетках та взутті
        li.tab__item
          .tab__icon
            +svg('icon-08')
          .tab__text Запобігає поверненню інфекції
        li.tab__item
          .tab__icon
            +svg('icon-09')
          .tab__text Компактний
      .tab__link-wrap
        a(href="https://tsinanaliky.com.ua/catalog/46-lamikon-sprey" target="_blank" rel="nofollow noopener noreferrer").tab__link Шукати препарат
//end tab