//begin tab
section.tab.tab--02#tab--02.active
  include ./header
  .container
    .tab__content
      h2.tab__title Ламікон крем
      .tab__descr
        p Свербіж і запах зникають - ніжки здоров’ям сяють!
        p Підходить для сухої та потрісканої шкіри ніг, особливо - п’ят. Крем можна використовувати при цукровому діабеті або імунодефіциті.
      ul.tab__items
        li.tab__item
          .tab__icon
            +svg('icon-04')
          .tab__text Лікує тріщини на п’ятах, суху та потріскану шкіру
        li.tab__item
          .tab__icon
            +svg('icon-05')
          .tab__text Позбавляє неприємного запаху
        li.tab__item
          .tab__icon
            +svg('icon-06')
          .tab__text Зволожує шкіру
      .tab__link-wrap
        a(href="https://tsinanaliky.com.ua/catalog/47-lamikon-krem" target="_blank" rel="nofollow noopener noreferrer").tab__link Шукати препарат
//end tab