//begin tab
section.tab.tab--01#tab--01
  include ./header
  .container
    .tab__content
      h2.tab__title Ламікон дермгель
      .tab__descr
        p Позбавляє вологих виділень на шкірі ніг та знищує грибок!
        p Використай Дермгель для обробки вологої шкіри та між пальцями ніг. Must-have, якщо ти відчуваєш дискомфорт через закрите взуття.
      ul.tab__items
        li.tab__item
          .tab__icon
            +svg('icon-01')
          .tab__text Позбавляє вологих виділень на шкірі ніг
        li.tab__item
          .tab__icon
            +svg('icon-02')
          .tab__text Знищує неприємний запах
        li.tab__item
          .tab__icon
            +svg('icon-03')
          .tab__text Підсушує шкіру
      .tab__link-wrap
        a(href="https://tsinanaliky.com.ua/catalog/48-lamikon-dermgel" target="_blank" rel="nofollow noopener noreferrer").tab__link Шукати препарат
//end tab