//begin table
section.table
  include ./header
  .container
    .table__list
      //begin table-item
      .table__item.table-item
        .table-item__pic
          img(src="assets/img/prep-01.png" alt="Ламікон")
        .table-item__table
          .table-item__th ТРИВАЛІСТЬ ТА частота ЛІКУВАННЯ
          .table-item__tb
            .table-item__td Діагноз
            .table-item__td Кількість застосовувань
            .table-item__td Курс лікування
          .table-item__tr
            .table-item__td Дерматофітія стоп
            .table-item__td 1 раз на добу
            .table-item__td 1 тиждень
          .table-item__tr
            .table-item__td Трихофітії гладенької шкіри
            .table-item__td 1 раз на добу
            .table-item__td 1 тиждень
          .table-item__tr
            .table-item__td Різнобарвний лишай
            .table-item__td 1 раз на добу
            .table-item__td 1 тиждень
      //end table-item

      //begin table-item
      .table__item.table-item
        .table-item__pic
          img(src="assets/img/prep-02.png" alt="Ламікон")
        .table-item__table
          .table-item__th ТРИВАЛІСТЬ ТА ЧАСТОТА ЛІКУВАННЯ
          .table-item__tb
            .table-item__td Діагноз
            .table-item__td Кількість застосовувань
            .table-item__td Курс лікування
          .table-item__tr
            .table-item__td Дерматофітія стоп
            .table-item__td 2 рази на добу
            .table-item__td 2 тиждня
          .table-item__tr
            .table-item__td Дерматофітія тулуба та пахова дерматофітія
            .table-item__td 1 раз на добу
            .table-item__td 1 тиждень
          .table-item__tr
            .table-item__td Різнобарвний лишай
            .table-item__td 1-2 рази на добу
            .table-item__td 2 тиждня
          .table-item__tr
            .table-item__td Кандидоз шкіри
            .table-item__td 1-2 рази на добу
            .table-item__td 1 тиждень
      //end table-item

      //begin table-item
      .table__item.table-item
        .table-item__pic
          img(src="assets/img/prep-03.png" alt="Ламікон")
        .table-item__table
          .table-item__th ТРИВАЛІСТЬ ТА частота ЛІКУВАННЯ
          .table-item__tb
            .table-item__td Діагноз
            .table-item__td Кількість застосовувань
            .table-item__td Курс лікування
          .table-item__tr
            .table-item__td Дерматофітія стоп
            .table-item__td 1 раз на добу
            .table-item__td 1 тиждень
          .table-item__tr
            .table-item__td Трихофітії гладенької шкіри
            .table-item__td 1 раз на добу
            .table-item__td 1 тиждень
          .table-item__tr
            .table-item__td Різнобарвний лишай
            .table-item__td 2 рази на добу
            .table-item__td 1 тиждень
      //end table-item

    .table__link-wrap
      a(href="assets/video/pdf.pdf" target="_blank" rel="nofollow noopener noreferrer").table__link
        +svg('pdf')
        span Почати лікування
//end table