//begin top
section.top
  include ./header
  .top__text
    .container
      h1.top__title Турбує грибок?
      h2.top__subtitle Обери симптоми, які турбують тебе найбільше, та залиш грибок у минулому!
  .top__tabs.top-tabs
    .container
      a(href="#tabs" data-tab="01").top-tabs__item
        .top-tabs__pic
          img(src="assets/img/top-tabs-01.png" alt="Ламікон")
        .top-tabs__text Тріщини на п'ятах, груба суха шкіра
      a(href="#tabs" data-tab="02").top-tabs__item
        .top-tabs__pic
          img(src="assets/img/top-tabs-02.png" alt="Ламікон")
        .top-tabs__text Червоні плями та свербіж
      a(href="#tabs" data-tab="03").top-tabs__item
        .top-tabs__pic
          img(src="assets/img/top-tabs-03.png" alt="Ламікон")
        .top-tabs__text Неприємний запах
//end top